.container {
  position: relative;
  border-radius: 18px;
  overflow: hidden;
  height: max-content;
  box-shadow: 0px 2px 4px 0.5px rgba(0, 0, 0, 0.1);
  width: max-content;
  padding: 10px;

  &:hover {
    .content {
      filter: blur(10px);
    }

    .viewBtn {
      opacity: 1;
      z-index: 1;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: 0.5s filter;
}

.photo {
  position: relative;

  width: 300px;
  height: 163px;

  display: flex;
  align-items: center;
  justify-content: center;
  //   border: 2px solid orange;
  border-radius: 16px;
  overflow: hidden;
  z-index: 1;
}

.emptyPhoto {
  font-weight: 600;
  font-size: 20px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding-bottom: 10px;
}

.name {
  font-weight: 800;
  font-size: 16px;
}

.registerNumber {
  font-weight: 300;
  font-size: 14px;
}

.fare {
  position: relative;
  display: flex;
  flex-direction: row;
  width: max-content;
  align-self: flex-start;
  gap: 30px;
}

.fareName {
  font-weight: 400;
}

.fareValue {
  font-weight: 800;
  border-bottom: 2px solid black;
  list-style-type: none;
}

.price {
  font-weight: 600;
  align-self: center;
  font-size: 19px;
}

.viewBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  font-weight: 700 !important;
  border-radius: 10px;
  transition: 0.5s opacity !important;
}
