.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: max-content;
  justify-content: space-between;
  width: 100%;
  opacity: 1;
  transition: 0.5s opacity;
}

.container_hidden {
  opacity: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.perPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  transition: 0.5s opacity;
}

.perPage_hidden {
  opacity: 0;
}
